body {
    font-family: 'Raleway';
    background-color: #ff7a2f;
    margin: 0;
    font-size: 14px;
}

p {
    margin-bottom: 6px;
}
header, footer {
    background-color: #febb8e;
}

header, footer, nav, .sortfilter {
    display: -webkit-flex;
    display: flex;
}

header {
    border-bottom: 1px solid #febb8e;
}

#logo {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#logo img {
    margin: 20px;
    width: 100%;
    max-width: 275px;
}

@media screen and (max-width: 768px) {
    header {
        display: block;
    }

    #selectstyle {
        width: 100%;
    }
}

nav, main {
    margin: 20px;
}

#selectstyle {
    max-height: 30px;
    align-self: flex-end;
    background-color: #ff7a2f;
    border: none;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    margin: 0px;
}

select {
    outline: none; /* beim option leider nicht änderbar?! statt mit select eine Liste machen*/
}

.sort, .filter, #newnote {
    color: white;
    text-transform: uppercase;
}

label {
    background-color: #9dc5e8;
    padding: 10px 5px;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

label:hover {
    background-color: #febb8e;
    cursor: crosshair;
}

#newnote {
    align-self: flex-end;
    background-color: #9dc5e8;
    padding: 10px 5px;
    margin-top: -10px;
}

button {
    border: none;
}

/* label:active nur während dem der Mausklick erfolgt */
input:checked + span {
    background-color: #febb8e;
    padding: 10px 5px;
    margin: -5px;
}


/* vorher
header, nav, main, section {
    display: flex;
    flex-flow: row wrap;
    flex: 100%;
    margin-bottom: 20px;
}
.content-placeholder {
    width: 100%;
}
header {
  justify-content: space-between;
  flex-direction: row;
}
nav {
  justify-content: space-between;
  flex-direction: row;
}
button  {
    border: 1px solid black;
}

nav button {
    flex: 25%;
}
aside, #importancebutton, .edit {
    flex: 25%;
}
article {
    flex: 50%;
}
input[type="text"] {
    flex: 49%;
}
@media screen and (max-width: 768px) {
    aside, article, button, input[type="text"] {
        flex: 100%;
    }
}

/* handlebars */
.noteslist {
    display: flex;
    list-style: none;
    justify-content: space-between;
}
