body {
    font-family: 'Raleway';
    background-color: #ff7a2f;
    margin: 0;
    font-size: 14px;
}

body.blue {
    background-color: DarkBlue;
}
p {
    margin-bottom: 6px;
}

a {
    text-decoration: none;
}

header {
    background-color: #febb8e;
    border-bottom: 1px solid #febb8e;
}

body.blue header {
    background-color: #9dc5e8;
    border-bottom: 1px solid #9dc5e8;
}

header, footer, nav, .sortfilter {
    display: -webkit-flex;
    display: flex;
}


#logo {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

#logo img {
    margin: 20px;
    width: 100%;
    max-width: 275px;
}

#styleSwitcher {
    max-height: 30px;
    align-self: flex-end;
    background-color: #ff7a2f;
    border: none;
    padding: 5px;
    text-transform: uppercase;
    color: white;
    margin: 0px;
}

body.blue #styleSwitcher {
    background-color: darkblue;
}

select {
    outline: none; /* beim option leider nicht änderbar?! statt mit select eine Liste machen*/
}

/* --------- nav-Bereich ------ */
nav {
    margin: 30px 20px 20px;
}

.sortfilter, #newnote {
    color: white;
    text-transform: uppercase;
}

.sortfilter {
    width: 100%;
}

.new {
    align-self: flex-end;
}

label {
    background-color: #9dc5e8;
    padding: 10px 5px;
}

input[type="radio"], input[type="checkbox"] {
    display: none;
}

label:hover {
    background-color: #febb8e;
    cursor: crosshair;
}

body.blue label:hover {
    background-color: #f9f0b5;
    color: black;
}

#newnote {
    align-self: flex-end;
    background-color: #f9f0b5;
    padding: 10px 5px;
    color: black;
    white-space: nowrap;
}

#newnote:hover {
    background-color: #febb8e;
}

body.blue #newnote:hover {
    background-color: white;
}
button {
    border: none;
}

/* label:active nur während dem der Mausklick erfolgt */
input:checked + span {
    /*background-color: #febb8e;*/
    color: black;
    padding: 10px 5px;
    margin: -5px;
}

/* --------- main-Bereich ------- */
.noteslist {
    /*display: flex;
    list-style: none;
    justify-content: space-between;*/
    background-color: #febb8e;
    margin-bottom: 5px;
    padding: 30px 20px;
}

body.blue .noteslist {
    background-color: #9dc5e8;
}

.border {
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid white;
    margin-bottom: 15px;
    line-height: 20px;
}

.finish {
    width: 100%;
    align-self: flex-end;
}

.importance img {
    max-width: 25px;
    margin-left: 3px;
}

.notescontent {
    display: -webkit-flex;
    display: flex;
}

.notesleft {
    width: 30%;
}

.notescenter {
    width: 70%;
}

.created, #created {
    color: white;
}

.editnote {
    background-color: #f9f0b5;
    padding: 10px 5px;
    color: black;
    text-transform: uppercase;
    width: 67px;
    text-align: center;
}

.editnote:hover {
    background-color: #ff7a2f;
}

body.blue .editnote:hover {
    background-color: white;
}

/* -------- main-Bereich newnote ------ */
/*#newimportance4 + span {
    background-image: url("important.png");
}*/
h1 {
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    font-weight: normal;
}

.newnotecontent {
    padding: 0px 20px;
}

#save, #cancel, #send {
    background-color: #f9f0b5;
    padding: 10px 5px;
    color: black;
    text-transform: uppercase;
    width: 67px;
    text-align: center;
}

#save:hover, #cancel:hover, #send:hover {
    background-color: #febb8e;
    cursor: pointer;
}

body.blue #save:hover, body.blue #cancel:hover, body.blue #send:hover {
    background-color: white;
}

/* ------------ footer -------- */
html, body {
    height: 100%;
    margin: 0;
}

footer {
    padding: 20px;
    background-color: #f9f0b5;
}

#wrapper {
    min-height: -webkit-calc(100% - 56px); /* Chrome */
    min-height: -moz-calc(100% - 56px); /* Firefox */
    min-height: calc(100% - 56px); /* native */
}

/* ------------ responsive --------- */
@media screen and (min-width: 408px) {
    .sort {
        margin-right: 3px;
    }

    #newnote {
        margin-top: -10px;
    }
}

@media screen and (max-width: 768px) {
    header, nav, .notescontent {
        display: block;
    }

    #styleSwitcher {
        width: 100%;
    }
}

@media screen and (min-width: 407px) and (max-width: 768px) {
    .new {
        margin-top: 30px;
        max-width: 76px;
    }
}

@media screen and (max-width: 406px) {
    label, .sortfilter {
        display: block;
    }

    label {
        margin-bottom: 5px;
    }
}


